<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title>Footer</title>-->
<!--        <style>-->
<!--            footer {-->
<!--                width: 100%;-->
<!--                background-color: #4e4a4a;-->
<!--                color: white;-->
<!--                font-family: sans-serif;-->
<!--            }-->

<!--            .footer-container {-->
<!--                max-width: 1920px;-->
<!--                margin: 0 auto;-->
<!--                display: flex;-->
<!--                justify-content: space-between;-->
<!--                align-items: center;-->
<!--                height: 120px;-->
<!--                padding: 0 40px;-->
<!--            }-->

<!--            .footer-container .logo {-->
<!--                font-weight: bold;-->
<!--                font-size: 22px;-->
<!--            }-->

<!--            .footer-container .footer {-->
<!--                text-align: right;-->
<!--                font-size: 12px;-->
<!--                line-height: 1.6;-->
<!--            }-->


<!--        </style>-->
<!--    </head>-->
<!--    <body>-->

<!--        <footer th:fragment="footer">-->
<!--            <div class="footer-container">-->
<!--                <div class="logo">NOVA</div>-->
<!--                <div class="footer">-->
<!--                    COPYRIGHT © NOVA ALL RIGHTS RESERVED<br>-->
<!--                    주소 서울특별시 성북구 삼선교 16길 116-->
<!--                </div>-->
<!--            </div>-->
<!--        </footer>-->

<!--    </body>-->
<!--</html>-->


<footer th:fragment="footer">
    <div class="footer-container">
        <div class="logo">NOVA</div>
        <div class="footer">
            COPYRIGHT © NOVA ALL RIGHTS RESERVED<br>
            주소 서울특별시 성북구 삼선교 16길 116
        </div>
    </div>
</footer>