<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title>Header</title>-->
<!--        <style>-->
<!--            header {-->
<!--                width: 100%;-->
<!--                background-color: white;-->
<!--                border-bottom: 1px solid #ddd;-->
<!--                font-family: sans-serif;-->
<!--            }-->

<!--            .header-container {-->
<!--                max-width: 1920px;-->
<!--                margin: 0 auto;-->
<!--                display: flex;-->
<!--                justify-content: space-between;-->
<!--                align-items: center;-->
<!--                height: 60px;-->
<!--                padding: 0 40px;-->
<!--            }-->

<!--            .header-container .logo {-->
<!--                font-weight: bold;-->
<!--                font-size: 18px;-->
<!--            }-->

<!--            .header-container .items {-->
<!--                display: flex;-->
<!--                gap: 30px;-->
<!--                font-size: 14px;-->
<!--            }-->

<!--            .header-container .account {-->
<!--                display: flex;-->
<!--                gap: 20px;-->
<!--                font-size: 14px;-->
<!--            }-->

<!--            a {-->
<!--                text-decoration-line: none;-->
<!--                color: inherit;-->
<!--            }-->
<!--        </style>-->
<!--    </head>-->
<!--    <body>-->

<!--        <header th:fragment="header">-->
<!--            <div class="header-container">-->
<!--                <div class="logo">NOVA</div>-->
<!--                <div class="items">-->
<!--                    <a href="#">NEW</a>-->
<!--                    <a href="#">BEST</a>-->
<!--                    <a href="#">OUTER</a>-->
<!--                    <a href="#">TOP</a>-->
<!--                    <a href="#">BOTTOM</a>-->
<!--                    <a href="#">BAG</a>-->
<!--                    <a href="#">SHOES</a>-->
<!--                    <a href="#">ETC</a>-->
<!--                </div>-->


<!--                <div class="account">-->
<!--                    <a href="#">SEARCH</a>-->
<!--                    <a href="#">LOGIN</a>-->
<!--                    <a href="#">CART</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </header>-->

<!--    </body>-->
<!--</html>-->


<header th:fragment="header">
    <div class="header-container">
        <div class="logo">NOVA</div>
        <div class="items">
            <a href="#">NEW</a>
            <a href="#">BEST</a>
            <a href="#">OUTER</a>
            <a href="/products/top">TOP</a>
            <a href="#">BOTTOM</a>
            <a href="#">BAG</a>
            <a href="#">SHOES</a>
            <a href="#">ETC</a>
        </div>
        <div class="account">
            <a href="#">SEARCH</a>
            <a href="#">LOGIN</a>
            <a href="#">CART</a>
        </div>
    </div>
</header>
