<header th:fragment="header">
    <div class="header-container">
        <a href="/" class="logo">NOVA</a>
        <div class="items">
            <a href="/products/new">NEW</a>
            <a href="/products/best">BEST</a>
            <a href="/products/outer">OUTER</a>
            <a href="/products/top">TOP</a>
            <a href="/products/bottom">BOTTOM</a>
            <a href="/products/bag">BAG</a>
            <a href="/products/shoes">SHOES</a>
            <a href="/products/etc">ETC</a>
        </div>
        <div class="account">
            <!-- <a href="#">SEARCH</a> -->
            <a href="#" id="search-open-btn">SEARCH</a>
            <a href="/login">LOGIN</a>
            <a href="#">CART</a>
        </div>
    </div>
</header>
<div id="search-container" style="display:none;"></div>
