<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>OUTER</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">OUTER</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer01"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer02"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer03"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer04"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer05"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer06"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer07"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer08"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer09"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer10"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer11"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer12"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer13"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Outer14"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Outer15"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>
</main>

<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>