<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">TOP</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/top/top_slowacid_white_tee.jpg" alt="Top01"></a>
                <li class="product">블러리 로고 반팔티셔츠 [화이트]</li>
                <li class="price">29,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_tnt_white_tee.jpg" alt="Top02"></a>
                <li class="product">T-Logo L/S Tee White</li>
                <li class="price">52,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_brownbreath_white_tee.jpg" alt="Top03"></a>
                <li class="product">TAG OG TEE - WHITE</li>
                <li class="price">39,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_ames_grey_tee.jpg" alt="Top04"></a>
                <li class="product">BASIC LOGO TEE GREY</li>
                <li class="price">20,400원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_travel_charcoal_tee.jpg" alt="Top05"></a>
                <li class="product">리즌 트레일 피그먼트 반팔티 블랙 차콜</li>
                <li class="price">29,900원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/top/top_moodinside_shirt.jpg" alt="Top06"></a>
                <li class="product">빈티지 링클 체크셔츠 (4 colors)</li>
                <li class="price">29,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_avandress_shirt.jpg" alt="Top07"></a>
                <li class="product">아이스 데님 셔츠 (2 colors)</li>
                <li class="price">43,220원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_bronson_white_tee.jpg" alt="Top08"></a>
                <li class="product">Retro Motorcycle Graphic Tee White</li>
                <li class="price">35,700원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_yale_2pack_tee.jpg" alt="Top09"></a>
                <li class="product">2PACK SMALL ARCH T-SHIRT</li>
                <li class="price">27,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_sorano_tee.jpg" alt="Top10"></a>
                <li class="product">SORANO Basic Logo T-shirt[4Color]</li>
                <li class="price">42,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/top/top_yale_white_tee.jpg" alt="Top11"></a>
                <li class="product">2 TONE ARCH T-SHIRT WHITE</li>
                <li class="price">28,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_jeep_white_tee.jpg" alt="Top12"></a>
                <li class="product">M-Logo 그래픽 반팔 티</li>
                <li class="price">37,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_dickies_white_tee.jpg" alt="Top13"></a>
                <li class="product">루즈핏 빅로고 긴소매 White</li>
                <li class="price">55,200원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_urbandtype_white_tee.jpg" alt="Top14"></a>
                <li class="product">풋볼 져지 티셔츠_화이트</li>
                <li class="price">27,500원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_escf_white_tee.jpg" alt="Top15"></a>
                <li class="product">ESCF 로고 콜라주 프린트 오버핏 반팔티 화이트</li>
                <li class="price">29,900원</li>
            </div>
        </div>
    </section>
</main>
<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>
</body>
</html>