<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>TOP</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">TOP</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top01"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top02"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top03"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top04"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top05"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top06"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top07"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top08"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top09"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top10"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top11"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top12"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top13"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Top14"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Top15"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>
</main>

<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>