<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SHOES</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">SHOES</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_rockfish_rainboots.jpg" alt="Shoes01"></a>
                <li class="product">NEW ORIGINAL RAIN BOOTS SHORT(8 colors)</li>
                <li class="price">69,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_discovery_grey_jane.jpg" alt="Shoes02"></a>
                <li class="product">웨이브 제인</li>
                <li class="price">99,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_puma_ivory.jpg" alt="Shoes03"></a>
                <li class="product">스피드캣 OG - 하우트커피:프로스트아이보리</li>
                <li class="price">139,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_onitsuka_white.jpg" alt="Shoes04"></a>
                <li class="product">GSM 1183C436_020</li>
                <li class="price">210,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_nike_black.jpg" alt="Shoes05"></a>
                <li class="product">덩크 로우 레트로 M</li>
                <li class="price">125,100원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_keen.jpg" alt="Shoes06"></a>
                <li class="product">재스퍼 락 스니커즈 Safari Blue</li>
                <li class="price">189,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/sheos_adidas_white.jpg" alt="Shoes07"></a>
                <li class="product">삼바 OG</li>
                <li class="price">149,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_crocs.jpg" alt="Shoes08"></a>
                <li class="product">바야밴드 클로그</li>
                <li class="price">74,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_puma.jpg" alt="Shoes09"></a>
                <li class="product">스피드캣 OG - 블랙:모브 미스트</li>
                <li class="price">139,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_nike_white.jpg" alt="Shoes10"></a>
                <li class="product">에어 포스 1 07</li>
                <li class="price">139,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_elldu.jpg" alt="Shoes11"></a>
                <li class="product">백야드 탄 그린</li>
                <li class="price">138,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_adidas_lightblue.jpg" alt="Shoes12"></a>
                <li class="product">핸드볼 스페지알 - 라이트블루</li>
                <li class="price">133,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_adidas_black.jpg" alt="Shoes13"></a>
                <li class="product">핸드볼 스페지알 - 블랙:핑크</li>
                <li class="price">133,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_adidas_hunter.jpg" alt="Shoes14"></a>
                <li class="product">아디폼 슈퍼스타 부츠 </li>
                <li class="price">89,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_fila.jpg" alt="Shoes15"></a>
                <li class="product">에샤페 초코</li>
                <li class="price">109,000원</li>
            </div>
        </div>
    </section>
</main>

<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>
</body>
</html>