<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NEW</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">NEW ITEMS</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/top/top_ames_grey_tee.jpg" alt="New01"></a>
                <li class="product">BASIC LOGO TEE GERY</li>
                <li class="price">20,400원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/top/top_brownbreath_white_tee.jpg" alt="New02"></a>
                <li class="product">TAG OG TEE WHITE</li>
                <li class="price">39,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_oddstudio_white_jacket.jpg" alt="New03"></a>
                <li class="product">스카치 파이핑 윈드브레이커</li>
                <li class="price">83,300원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_discovery_grey_jane.jpg" alt="New04"></a>
                <li class="product">웨이브 제인</li>
                <li class="price">99,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bottom/bottom_khakipoint_white_skirt.jpg" alt="New05"></a>
                <li class="product">Ribbon Shirring Skirt (melange)</li>
                <li class="price">62,900원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_wackywilly.jpg" alt="New06"></a>
                <li class="product">메쉬 스트링 유틸리티백 블랙</li>
                <li class="price">53,400원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_alvinclo_setup.jpg" alt="New07"></a>
                <li class="product">[SET] 무지 레귤러핏 투웨이 후드집업/코튼 밴딩 스웨트 반바지 셋업</li>
                <li class="price">51,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_rockfish_rainboots.jpg" alt="New08"></a>
                <li class="product">NEW ORIGINAL RAIN BOOTS SHORT(8 colors)</li>
                <li class="price">69,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/etc/etc_wdt.jpg" alt="New09"></a>
                <li class="product">[지구마불] 구름희 인형 키링</li>
                <li class="price">24,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/etc/etc_fuggler.jpg" alt="New10"></a>
                <li class="product">그린그린 브라운 키링</li>
                <li class="price">13,500원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_qualpack.jpg" alt="New11"></a>
                <li class="product">어센틱 트래블백 QB08 블랙</li>
                <li class="price">40,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bottom/bottom_usd_black_skirt.jpg" alt="New12"></a>
                <li class="product">TULIP PANTS SKIRT(BLACK)</li>
                <li class="price">71,100원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_elldu.jpg" alt="New13"></a>
                <li class="product">백야드 탄 그린</li>
                <li class="price">138,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/shoes/shoes_adidas_hunter.jpg" alt="New14"></a>
                <li class="product">아디폼 슈퍼스타 부츠 </li>
                <li class="price">89,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/etc/etc_casio.jpg" alt="New15"></a>
                <li class="product">A-158WA-1UWDF</li>
                <li class="price">43,000원</li>
            </div>
        </div>
    </section>
</main>

<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>
</body>
</html>