<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>OUTER</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">OUTER</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_untapped_knit.jpg" alt="Outer01"></a>
                <li class="product">오버핏 케이블 카라 니트 가디건 (3 color)</li>
                <li class="price">39,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_supersub_hoodzipup.jpg" alt="Outer02"></a>
                <li class="product">행식이 스트라이프 후드 집업 (Blue)</li>
                <li class="price">44,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_honda_red_jacket.jpg" alt="Outer03"></a>
                <li class="product">Honda Nylon Stitch Track Jacket_Red</li>
                <li class="price">143,200원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_cpgn_grey_wind.jpg" alt="Outer04"></a>
                <li class="product">크래킹 후드 윈드브레이커 그레이</li>
                <li class="price">60,500원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_umbro_beige_jacket.jpg" alt="Outer05"></a>
                <li class="product">클래식 스탠넥 웜업 바람막이 자켓 베이지</li>
                <li class="price">125,100원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_travel_ivory_jacket.jpg" alt="Outer06"></a>
                <li class="product">져지 트랙 자켓 아이보리</li>
                <li class="price">56,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_lemain_beige_jacket.jpg" alt="Outer07"></a>
                <li class="product">미니멀 오버핏 투웨이 자켓</li>
                <li class="price">27,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_dimitri_beige_jacket.jpg" alt="Outer08"></a>
                <li class="product">2WAY 나일론 디트로이트 윈드 자켓</li>
                <li class="price">39,990원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_filluminate_brown_jacket.jpg" alt="Outer09"></a>
                <li class="product">스탠다드 블루종 자켓</li>
                <li class="price">69,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_codegraphy_black_jacket.jpg" alt="Outer10"></a>
                <li class="product">배색 테크 카라 숏 자켓</li>
                <li class="price">69,900원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_alvinclo_setup.jpg" alt="Outer11"></a>
                <li class="product">[SET] 무지 레귤러핏 투웨이 후드집업/코튼 밴딩 스웨트 반바지 셋업</li>
                <li class="price">51,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_dimitri_black_hoodzipup.jpg" alt="Outer12"></a>
                <li class="product">스트라이프 로고 후드 집업_블랙&그레이</li>
                <li class="price">38,900원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_honda_black_hoodzipup.jpg" alt="Outer13"></a>
                <li class="product">Honda Stud Wing Washing Hoodie Zip-up</li>
                <li class="price">79,200원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_oddstudio_white_jacket.jpg" alt="Outer14"></a>
                <li class="product">스카치 파이핑 윈드브레이커</li>
                <li class="price">83,300원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/outer/outer_jeep_red_jacket.jpg" alt="Outer15"></a>
                <li class="product">A1 Basic Track Jacket</li>
                <li class="price">79,500원</li>
            </div>
        </div>
    </section>
</main>

<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>
</body>
</html>