<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${category}">카테고리</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div th:replace="~{common/header :: header}"></div>

<main>
    <h1 class="items-name" th:text="${category}">CATEGORY</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items" th:each="menu : ${products}">
                <a th:href="@{'/products/detail/' + ${menu.id}}">
                    <img th:src="@{${menu.imageUrl}}" alt="Product Image">
                </a>
                <div class="product" th:text="${menu.name}">상품명</div>
                <div class="price" th:text="${#numbers.formatInteger(menu.price.intValue(), 3, 'COMMA')} + '원'">가격</div>
            </div>
        </div>
    </section>
</main>

<div id="search-container" style="display: none;"></div>
<div th:replace="~{common/footer :: footer}"></div>
<script src="/js/common.js"></script>
</body>
</html>
