<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>BOTTOM</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">BOTTOM</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_1"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_2"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_3"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_4"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_5"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_1"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_2"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_3"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_4"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_5"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <!-- 베스트 -->
    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_1"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_2"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_3"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="New_4"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="New_5"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>
</main>

<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>