<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>LOGIN</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <div class="login-container">
        <h1 class="login-title">LOGIN</h1>
        <form class="login-form">
            <input type="text" placeholder="ID">
            <input type="password" placeholder="PW">
            <div class="find-links">
                <a href="/findID">아이디 찾기</a> |
                <a href="/findPW">비밀번호 찾기</a>
            </div>
            <button type="submit" class="login-btn">LOGIN</button>
            <button type="button" id="sign-btn" class="sign-btn">SIGN</button>
        </form>
    </div>
</main>
<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>

<script th:inline="javascript">
    document.getElementById('sign-btn').addEventListener('click', () => {
        window.location.href = '/sign';
    });
</script>

</body>
</html>