<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>BAG</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">BAG</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_matinkim.jpg" alt="Bag01"></a>
                <li class="product">HALF SHIRRING RIBBON ROUND BAG</li>
                <li class="price">138,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_jansport_mini.jpg" alt="Bag02"></a>
                <li class="product">하프파인트 미니백팩 BLACK</li>
                <li class="price">42,700원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_noiago.jpg" alt="Bag03"></a>
                <li class="product">NOI1390 나일론 데일리 백팩</li>
                <li class="price">64,400원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_nuart.jpg" alt="Bag04"></a>
                <li class="product">클래식 셔링 나일론 백팩</li>
                <li class="price">29,500원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_tcm.jpg" alt="Bag05"></a>
                <li class="product">TCM starfish backpack</li>
                <li class="price">98,100원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_northface.jpg" alt="Bag06"></a>
                <li class="product">NM2DR00A 빅 샷_BLACK</li>
                <li class="price">159,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_marithe.jpg" alt="Bag07"></a>
                <li class="product">CLASSIC LOGO HOBO BAG black</li>
                <li class="price">99,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_coc_2col.jpg" alt="Bag08"></a>
                <li class="product">유틸리티 스트링 백팩 5COLOR</li>
                <li class="price">34,300원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_wackywilly.jpg" alt="Bag09"></a>
                <li class="product">메쉬 스트링 유틸리티백 블랙</li>
                <li class="price">53,400원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_openingproject.jpg" alt="Bag10"></a>
                <li class="product">Mesh Pocket String Bag</li>
                <li class="price">81,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_qualpack.jpg" alt="Bag11"></a>
                <li class="product">어센틱 트래블백 QB08 블랙</li>
                <li class="price">40,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_columbia.jpg" alt="Bag12"></a>
                <li class="product">공용 레드우드 30L 뉴 플러스 백팩</li>
                <li class="price">149,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_umbro.jpg" alt="Bag13"></a>
                <li class="product">웨이파인더 백팩 (32L) 베이지</li>
                <li class="price">143,100원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_oddstudio.jpg" alt="Bag14"></a>
                <li class="product">오드 시그니처 스몰 데님 백팩</li>
                <li class="price">53,800원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/product/bag/bag_sehr.png" alt="Bag15"></a>
                <li class="product">Wrinkle Leopard String Bag</li>
                <li class="price">44,500원</li>
            </div>
        </div>
    </section>
</main>

<div id="search-container" style="display: none;"></div>
<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
<script src="/js/common.js"></script>
</body>
</html>