<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>BAG</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
    <h1 class="items-name">BAG</h1>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag01"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag02"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag03"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag04"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag05"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag06"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag07"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag08"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag09"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag10"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>

    <section class="product-section">
        <div class="product-container">
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag11"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag12"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag13"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/green.png" alt="Bag14"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
            <div class="items">
                <a href="#"><img src="/img/blue.png" alt="Bag15"></a>
                <li class="product">반팔 티셔츠 (3 colors)</li>
                <li class="price">18,000원</li>
            </div>
        </div>
    </section>
</main>

<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>