<!-- src/main/resources/templates/main.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>NOVA</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<!-- include header -->
<div th:replace="common/header :: header"></div>

<main>
<!--    <h1>Welcome to NOVA</h1>-->
    <section class="banner">
        <div class="items">
            <a href="#"><img src="/img/black.png" alt="Banner_1"></a>
        </div>
        <div class="items">
            <a href="#"><img src="/img/blue.png" alt="Banner_2"></a>
        </div>
        <div class="items">
            <a href="#"><img src="/img/green.png" alt="Banner_3"></a>
        </div>
    </section>
</main>

<!-- include footer -->
<div th:replace="common/footer :: footer"></div>
</body>
</html>