<!-- src/main/resources/templates/search.html -->
<div class="search-container">
    <div class="search-content">
        <div class="search-header">
            <input type="text" class="search-input" placeholder="검색어를 입력하세요.">
            <button class="search-btn"><img src="/img/search_icon.png"></button>
            <button class="close-btn" id="search-close-btn"><img src="/img/close_icon.png"></button>
        </div>

        <div class="search-body">
            <div class="search-left">
                <h4>인기 검색어</h4>
                <ol class="popular-keywords">
                    <a href="/products/top"><li>반팔티</li></a>
                    <a href="/products/outer"><li>후드집업</li></a>
                    <a href="/products/outer"><li>가디건</li></a>
                    <a href="/products/bottom"><li>버뮤다 팬츠</li></a>
                    <a href="/products/bag"><li>가방</li></a>
                    <a href="/products/top"><li>맨투맨</li></a>
                    <a href="/products/outer"><li>바람막이</li></a>
                    <a href="/products/bottom"><li>반바지</li></a>
                    <a href="/products/etc"><li>모자</li></a>
                    <a href="/products/outer"><li>자켓</li></a>
                </ol>
            </div>

            <div class="search-right">
                <h4>추천 아이템</h4>
                <div class="item-grid">
                    <div class="item">
                        <a href="/products/bottom"><img src="/img/blue.png"></a>
                        <div class="item-name">데님 버뮤다 팬츠 (2 colors)</div>
                        <div class="item-price">42,000원</div>
                    </div>
                    <div class="item">
                        <a href="/products/outer"><img src="/img/green.png"></a>
                        <div class="item-name">라운드 넥 가디건 (4 colors)</div>
                        <div class="item-price">26,000원</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
